<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqns.demo.dao.mapper.RoleResourceMapper">
  <resultMap id="BaseResultMap" type="com.cqns.demo.dao.entity.RoleResource">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="resource_id" jdbcType="BIGINT" property="resourceId" />
    <result column="resource_type" jdbcType="INTEGER" property="resourceType" />
    <result column="resource_name" jdbcType="VARCHAR" property="resourceName" />
    <result column="raw_update_time" jdbcType="TIMESTAMP" property="rawUpdateTime" />
    <result column="raw_add_time" jdbcType="TIMESTAMP" property="rawAddTime" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="resource_type_name" jdbcType="VARCHAR" property="resourceTypeName" />
  </resultMap>
</mapper>